{% extends "base.html" %}

{% block content %}
	<div class="well" ><!--
				let the css take the display
		style="width: 800px;text-align:center;  margin: 0 auto;">   
			   -->
		<h1>Already Exists</h1>
		<p> {{ object.url }} </p>
		{% if object.clickevent.count %}
		<p>
			Count: {{ object.clickevent.count }}

		</p>
		{% endif %}
		<p>
					<a  href= "http://{{ object.get_short_url}}" > {{ object.get_short_url}}  </a>
		</p>
		
<!-- Instead of using the button we can also use the class for a tag and use btn btn-submit  -->
 

<!-- 
			<button class="btn btn-primary" onclick="location.href ='/'"> 
								New 
			</button>

-->
			<a class="btn btn-default" href="\">			New  			</a>
	<!--<input type="submit" class="btn btn-primary" >-->
	<!--<input type="submit" class="btn btn-primary" value="New" > -->
	<!--<a href="/"> New </a> -->
	</div>
{% endblock content %}
}
	
