{% extends "base.html" %}
{% block content %}

<!--
	Changing few html tags and applying css
 -->

<h1 class="cover-heading "> {{ title }} </h1> 
<p class="lead">
<div class="col-sm-6 col-sm-offset-3">
	<form method="POST" action="."> {%  csrf_token %}
	<!-- using a django form <input name='url' type="text" placeholder="Shorten your url"/> -->
	{{ form.as_p }}
	<input type="submit" value="Shorten &raquo" class="btn btn-primary">
	</form>
	</div>
</p>

<!--
<div class="container">
	<div class="row">
	<div class="text-center col-sn-12" >
	<h1>{{ title }}</h1>
	<div class="col-sm-4 col-sm-offset-4">
	<form method="POST" action="."> {%  csrf_token %} 
-->
	<!-- using a django form <input name='url' type="text" placeholder="Shorten your url"/> -->
<!--
	{{ form.as_p }}
	<input type="submit" value="Shorten" class="btn btn-primary">
	</form>
	</div>
	</div>
	</div>
</div>
-->
{% endblock content %}
